<div class="row">
	<div class="col-xs-12 col-md-4">
		<div class="card bg-primary">
			<div class="card-block">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, optio tenetur explicabo facere aliquid, harum quia eius rem perspiciatis. Maiores quidem repudiandae quae, facilis. Nisi beatae debitis, vel illum ducimus.</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="card card-inverse bg-primary bg-alt1">
			<div class="card-block">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat asperiores quam deleniti quo eveniet in, repellendus assumenda sed ipsum nobis provident obcaecati qui reiciendis iure error eligendi, ut nam praesentium.</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="card card-inverse bg-alt2">
			<div class="card-block">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque possimus debitis, consequatur corporis sequi voluptatibus. Inventore neque, commodi ab aut dolore laborum molestias maxime voluptates temporibus doloremque animi obcaecati optio!</p>
			</div>
		</div>
	</div>
</div>