<app-top-nav></app-top-nav>

<div class="row">
	<div class="col-xs-12">
		<div class="jumbotron bg-primary">
			<h1 class="display-4">{{title}}</h1>
			<p class="lead">{{subtitle}}</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="card">
			<div class="card-block">
				<button class="btn btn-primary">Primary</button>
				<button class="btn btn-secondary">Button</button>
				<button class="btn btn-success">Button</button>
				<button class="btn btn-info">Button</button>
				<button class="btn btn-warning">Button</button>
				<button class="btn btn-danger">Button</button>
			</div>
		</div>
	</div>
</div>
<app-swatches></app-swatches>
<app-footer></app-footer>